vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Oct 2016 10:54:02 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{F4F8DCF6-D611-4618-9EBA-F07983898FDE}
vti_backlinkinfo:VX|Default.aspx Form/req_UT.aspx
vti_author:SR|SJKH1WHPFS1\\Administrator
vti_modifiedby:SR|SJKH1WHPFS1\\Administrator
vti_nexttolasttimemodified:TW|06 Oct 2016 10:30:33 -0000
vti_timecreated:TR|06 Oct 2016 10:54:02 -0000
vti_cacheddtm:TX|06 Oct 2016 10:30:33 -0000
vti_filesize:IR|3143
vti_cachedlinkinfo:VX|S|Images/HijauKiri.gif S|Images/HijauKanan.gif
vti_cachedsvcrellinks:VX|FSUS|css/Images/HijauKiri.gif FSUS|css/Images/HijauKanan.gif
